body {
    width:100%;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

div#content {
    background-color: black;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.results {
    font-size: 20px;
}
.white-color {
    color: white;
}

div#logo {
    padding-bottom: 5vh;
}

div#logo img {
    width: 15em;
}

div#footer {
 background-color: black;
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
}

div#footer p {
 margin: 0.9em;
 font-size: 0.9em;
 color: #888;	
}

div#footer a {
 text-decoration: none;
 color: #888;	
}

div#footer a:visited {
 text-decoration: none;
 color: #888;
}